body {
  cursor:url(./img/hammer1.png),auto;
}

#hammer {
  width: 100px;
  height: 100px;
  position: absolute;
  transition: transform 0.5s;
}

.img-hammer{
  rotate: 45deg;
}

.table-game{
  margin: 13% auto;
  width: 80%;
}

.row-game{
  margin-bottom: 10%;
  display: flex;
  justify-content: space-around;
  height: fit-content;
}

